record(bo, "$(R)-Cmd") {
    field(DTYP, "stream")
    field(OUT , "@isara-command.proto cmd($(CMD)) $(DEV)")
    field(ZNAM, "$(ACTION=$(CMD))")
    field(ONAM, "$(ACTION=$(CMD))")
    field(DESC, "$(DESC=)")
    field(VAL , "0")
}
